@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body {
    background-color: #F4F4F4;
    padding-top: 20px;
}

.todo-header {
    color: #E1BCBC;
    font-family: 'Nothing You Could Do', cursive;
    text-align: center;
}

.table {
    min-height: 200px;
    width: 600px;
}

.input-style {
    min-height: 50px;
    border-style: none none solid none;
    border-color: #E1E1E1;
    border-width: 1px;
    outline: none;
    font-size: 20px;
    color: #B8B1B1;
}